body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Sans Condensed';
}

input[type="range"] {
  width: 800px;
}

.container {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}

.col {
  flex-direction: column;
}

.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.test1 {
  background-color: blue;
  position: absolute;
}

.test2 {
  background-color: red;
  transform: translate(0, 0);
  position: relative;
}

.center p {
  max-width: 900px;
  margin-bottom: 20px;
}

button {
  font-size: 10pt;
  margin: 5px;
}

svg {
  border: 1px solid rgb(64, 64, 64);
  margin: auto 10px;
  display: block;
  border-radius: 10px;
}

#expo7 {
  border: none;
}

img {
  width: 300px;
  height: 250px;
}

.inbarcount,
.inbarlabel {
  font-weight: bold;
}

.inbarcount {
  font-size: 14pt;
}

.buttons {
  width: 1090px;
  /* must be width and margins of top svgs */
}

.sidebyside {
  display: flex;
  flex-direction: row;
}

.sidebyside p {
  display: flex;
  max-width: 500px;
  flex-direction: column;
  justify-content: center;
}


.center * {
  margin-bottom: 10px;
}

.case * {
  display: block;
}

.case {
  display: block;
  margin: 0 auto;
}

.caseandnav {
  display: flex;
  flex-direction: row;
}

#keypoints {
  margin-top: 10px;
  margin-left: -10px;
}

nav {
  width: 300px;
  padding-left: 60px;
  margin-top: 20px;
  margin-right: 20px;
  position: sticky;
  max-height: 600px;
  top: 70px;
}

ol li {
  margin-bottom: 25px;
  padding-left: 20px;
}

ol li a {
  margin-bottom: 5px;
  color: #9a8b8b;
}

li::marker {
  font-size: 20px;
  color: #4f4646;
}

.nav h2 {
  font-variant: all-small-caps;
  width: 900px;
  font-size: 30pt;
  text-align: left;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-top: 10px;
}

.expo {
  margin-bottom: 30px;
}

.active {
  font-weight: bold;
  font-size: 15pt;
  transition: .2s;
  color: #439abf;
}

.canvas {
  padding: none;
  margin: none;
  display: block;
}

canvas {
  border: 1px solid black;
}

.gridlines line {
  stroke: rgb(180, 180, 180);
  stroke-width: 0.5px;
}

.gridlines .domain {
  stroke: none;
}

.smallmults {
  display: flex;
  flex-direction: row;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.imgandtext {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 10px;
}

.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.imgandtext p {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}

.imgandtext * {
  margin: 10px;
}

video{
  margin: 0 auto;
}

.imgandtext img {
  object-fit: contain;
  margin: 0 auto;
}

.reverse {
  flex-flow: row-reverse;
}

#dutch{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#dutch .pr{
  margin-left: 10px;
  width: 350px;
}